html, body{
    display: flex   ;
    margin: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

img{
    width: 100%;
    height: 100%;
}

#telaTitulo{
      width: 500px;
      height: 669px;
      background-color: #0A5517;
      float: left;
}

#info{
    position:absolute;
    z-index: 10000%;
    width: 300px;
    height: 400px;
    background-color: black;
    float: right;
    margin-left: 250px;
    margin-top: 5%;
    filter:alpha(opacity=50); 
    opacity: 0.5;     
    -moz-opacity:0.5;     
    -webkit-opacity:0.5;
}

#telaInfo{
    display: flex;
   align-items: center;
    width: 796px;
    height: 669px;
    margin-right:0;
    margin-top: 0;
    background-image: url("https://cdn.pixabay.com/photo/2017/03/28/12/07/bricks-2181920_960_720.jpg");
}