html, body{
    display: flex   ;
    margin: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#ifpb{
    width: 70%;
    height: 70%;
    padding: 5px;
    margin-left: 50px;
    margin-top: 50px;
}


#telaTitulo{
      width: 500px;
      height: 100%;
      background-color: #0A5517;
      float: left;
}

#telaInfo{
    display: block;
    width: 796px;
    height: 100%;
    margin-right:0;
    margin-top: 0;
    background-image: url("https://cdn.pixabay.com/photo/2017/03/28/12/07/bricks-2181920_960_720.jpg") ;
}

#lcad{
    margin-left:250px;
    margin-top: 400px;
    color: #fffafa;
}

#matricula{
    box-sizing: border-box;
    border: none;
    background-color: rgba(60, 188, 141, 0.795);
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 1000%;
    width: 300px;
    height: 30px;
    margin-left:250px;
    margin-top: 250px;
}

#senha{
    box-sizing: border-box;
    border: none;
    background-color: rgba(60, 188, 141, 0.795);
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 1000%;
    width: 300px;
    height: 30px;
    margin-left:250px;
    margin-top: 300px;
}
#cadastro{
    background-color:#e7e7e7;
    width: 100px;
    height: 30px;
    padding-bottom: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

#botao{
    background-color:#e7e7e7;
    width: 300px;
    height: 30px;
    color: black;
    padding-bottom: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 250px;
    margin-top: 350px;
    border-radius: 10px;
  }

#text1{
    width: 300px;
    height: 50px;
    background-color: red;
    margin-left: 50px;
    margin-top: 160px;
}
p{
    text-align: center;
    color:rgba(31, 30, 30, 0.938);
    margin-top: 61px;
}